<div id="personal-info" class="shadow">
    <span class="bg-color"> تعديل المواد </span>
    <div class="row">
        <!-- اسم المادة -->
        <div class="col-sm-12 col-md-3 mt-3">
            <label for="subject-name">اسم المادة</label>
            <input type="text" id="subject-name" class="form-control" placeholder="اسم المادة">
        </div>

        <!-- كود المادة -->
        <div class="col-sm-12 col-md-3 mt-3">
            <label for="subject-code">كود المادة</label>
            <input type="text" id="subject-code" class="form-control" placeholder="كود المادة">
        </div>

        <!-- التفاصيل -->
        <div class="col-sm-12 col-md-6 mt-3">
            <label for="subject-details">التفاصيل</label>
            <textarea id="subject-details" class="form-control" rows="3" placeholder="تفاصيل المادة"></textarea>
        </div>
    </div>


    <div class="col-sm-12 mt-2">
        <input type="submit" class="form-control color-btn" value="حفظ" />
    </div>
</div>
