<div id="personal-info" class="shadow mt-3">
    <span class="bg-color"> تعديل مدخلات </span>
    <div class="row">
        <!-- اسم المادة -->
        <div class="col-sm-12 col-md-4 mt-3">
            <label for="subject-name">اسم المادة</label>
            <select id="subject-name" class="form-control">
                <option selected disabled>اختر اسم المادة</option>

            </select>
        </div>

        <!-- العدد -->
        <div class="col-sm-12 col-md-4 mt-3">
            <label for="subject-quantity">العدد</label>
            <input type="text" id="subject-quantity" class="form-control" placeholder="العدد ">

        </div>

        <!-- مصدر المادة -->
        <div class="col-sm-12 col-md-4 mt-3">
            <label for="subject-source">مصدر المادة</label>
            <input type="text" id="subject-source" class="form-control" placeholder="اسم مصدر">

        </div>

        <!-- رقم المستند -->
        <div class="col-sm-12 col-md-4 mt-3">
            <label for="document-number">رقم المستند</label>
            <input type="text" id="document-number" class="form-control" placeholder="رقم المستند">
        </div>
        <div class="col-sm-12 col-md-4 mt-3">
            <label for="document-number"> تاريخ الأدخال</label>
            <input type="date" id="" class="form-control">
        </div>


        <!-- اسم الجهة المجخزة لها -->
        <div class="col-sm-12 col-md-4 mt-3">
            <label for="recipient">اسم الجهة المجخزة لها</label>
            <input type="text" id="recipient" class="form-control" placeholder="اسم الجهة">
        </div>

        <!-- سنة التجهيز -->
        <div class="col-sm-12 col-md-4 mt-3">
            <label for="preparation-year">سنة التجهيز</label>
            <select id="preparation-year" class="form-control">
                <option selected disabled>اختر السنة</option>
                <option value="2025">2025</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <!-- أضف المزيد حسب الحاجة -->
            </select>
        </div>
    </div>


    <div class="col-sm-12 mt-3">
        <input type="submit" class="form-control color-btn" value="حفظ" />
    </div>
</div>
